[contenteditable] {
    outline: 0px solid transparent;
    background: transparent;
}

[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color: #6c757d !important;
}

.title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.editable-div {
    padding: 3px 2px;
    min-height: 30px;
}

.headline-1 {
    font-size: xx-large;
    font-weight: bold;
}

.headline-2 {
    font-size: x-large;
    font-weight: bold;
}

.headline-3 {
    font-size: large;
    font-weight: bold;
}

.ul-item {
    color: red;
}

.ol-item {
    color: green;
}