<div class="pb-2 sidebar-folder">
  <div (click)="toggleOpen()">
    <i class="fas fa-caret-right" *ngIf="!isOpen"></i>
    <i class="fas fa-caret-down" *ngIf="isOpen"></i>

    <span class="pl-2 noselect">{{ folder.name }}</span>
  </div>

  <div *ngIf="isOpen">
    <div class="pl-2" *ngFor="let item of folder.children">
      <app-sidebar-file
        *ngIf="item.children === undefined"
        [file]="item"
      ></app-sidebar-file>
      <app-sidebar-folder
        *ngIf="item.children !== undefined"
        [folder]="item"
      ></app-sidebar-folder>
    </div>
  </div>
</div>
