<footer class="footer bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 h-100 text-center text-center my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a routerLink="/contact" class="text-white">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/terms-and-conditions" class="text-white">Terms and Conditions</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a routerLink="/privacy-policy" class="text-white">Privacy Policy</a>
                    </li>
                </ul>
                <p class="small mb-4 mb-lg-0 text-white">&copy; ConstantTime 2020. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>