<div class="container-fluid">
  <h2 class="text-center mb-0">
    How to learn effectively
  </h2>

  <p class="text-center text-muted mb-0">
    Leverage the concepts of spacing out repetition and actively recalling your
    subjects.
  </p>

  <div class="row">
    <div class="col-12 col-md-1"></div>
    <div class="col-12 col-md-4 mt-5">
      <h4 class="text-center mb-4">
        Active Recall
      </h4>

      <p>
        Active Recall is a testing based repetition method. It is done by
        testing yourself and retrieving information from memory. In contrast to
        the widely used methods such as rereading, summarizing, and
        highlighting, active recall is far more effective, because the act of
        retrieving information strengthens connections in the brain.
      </p>

      <p>
        More information about the topic:
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/ukLnPbIffxE"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        ></iframe>
      </div>
    </div>
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-4 mt-5">
      <h4 class="text-center mb-4">
        Spaced Repetition
      </h4>

      <p>
        As the name suggests the repetition of subjects is spaced out over a
        period of time. A topic is reviewed at particular intervals to
        forgetting it. The concept of learning something once and losing memory
        about it over time is also called the Forgetting Curve.
      </p>

      <h6 class="text-center">
        The Forgetting Curve
      </h6>

      <div class="mb-3 text-center">
        <img
          src="../../../../assets/the_forgetting_curve.jpg"
          class="rounded mx-auto d-block pb-0"
        />
        <small>
          <a
            target="_blank"
            href="https://www.researchgate.net/figure/Ebbinghaus-forgetting-curve-and-review-cycle_fig1_324816198"
          >
            Ebbinghaus' forgetting curve and review cycle.
          </a>
        </small>
      </div>

      <p>
        With Spaced Repetition we interrupt the Forgetting Curve by repeating of
        what we have learned. That way we encode information into our long-term
        memory.
      </p>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
</div>
