.nav-link {
  font-weight: 500;
  font-size: 1.05rem;
}

.nav-link:hover {
  opacity: 0.8;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand {
  margin-right: 5rem;
}

.navbar {
  margin-bottom: 5rem;
  min-height: 70px;
}
