<h2 class="mb-3">Flash Cards</h2>

<div class="mb-3">
  <app-create-flash-card></app-create-flash-card>
</div>

<div class="row align-items-center column-description mb-2">
  <div class="col-6">
    Question
  </div>
  <div class="col-1">
    Level
  </div>
  <div class="col-2">
    Next
  </div>
  <div class="col-2">Topic</div>
  <div class="col-1"></div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let flashCard of flashCards">
    <div class="row align-items-center">
      <div class="col-6">
        <a (click)="openEditFlashCardModal(flashCard)" [routerLink]="">
          {{ flashCard.question }}
        </a>
      </div>
      <div class="col-1">
        <span
          class="badge badge-pill badge-warning"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Level"
        >
          {{ flashCard.level }}
        </span>
      </div>
      <div class="col-2">
        <small
          class="text-muted"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Next repetition"
        >
          <i class="far fa-clock"></i>
          {{ flashCard.nextRepetition | date: "mediumDate" }}
        </small>
      </div>
      <div class="col-2">
        <small data-toggle="tooltip" data-placement="bottom" title="Topic">
          {{ flashCard.topicName }}
        </small>
      </div>
      <div class="col-1 text-right">
        <a class="text-danger" (click)="deleteFlashCard(flashCard)">
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </li>
</ul>
