<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center py-4 align-self-center">
            <h1 class="">Remember everything!</h1>
            <h6 class="text-muted mb-0">
                Aquire long term knowledge by using Spaced Repetition
            </h6>
        </div>
        <div class="col-12 col-md-6 py-4">
            <app-landing-page-flash-card></app-landing-page-flash-card>
        </div>

        <div class="col-12 text-center py-5">
            <button class="btn btn-lg btn-primary">
                Get Started
            </button>
        </div>
    </div>
</div>