header {
    margin-top: -5rem;
    height: calc(100vh - 70px);
}

.container {
    // max-height: calc(100vh - 70px);
    // min-height: calc(100vh - 70px);
    padding-top: 10%;
    padding-bottom: 10%;
}