<header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 text-center py-3 align-self-center">
        <h1>Remember everything!</h1>
        <h6 class="text-muted mb-0">
          Build long term knowledge and remember more of what you've learned!
        </h6>

        <button class="btn btn-primary mt-4" routerLink="/sign-up">
          Get Started
        </button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-12 col-md-5 py-3">
        <app-landing-page-flash-card></app-landing-page-flash-card>
      </div>
    </div>
  </div>
</header>
