<header class="bg-dark">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-12 col-md-6 text-center py-3 align-self-center">
                <h1 class="text-white">Remember everything!</h1>
                <h6 class="text-muted mb-0">
                    Aquire long term knowledge by using Spaced Repetition
                </h6>
            </div>
            <div class="col-12 col-md-6 py-3">
                <app-landing-page-flash-card></app-landing-page-flash-card>
            </div>
    
            <div class="col-12 text-center">
                <button class="btn btn-lg btn-primary" routerLink="/sign-up">
                    Get Started
                </button>
            </div>
        </div>
    </div>
</header>