.topic-edit, .topic-save {
    font-size: 0.8rem;
}

.topic-edit:hover, .topic-save:hover {
    cursor: pointer;
    scale: 1.05;
}

.topic-row {
    min-height: 2.4rem;
}

.card {
    margin-bottom: 3rem;
}