<div class="sidebar">
  <div>
    <h4>Documents</h4>
  </div>

  <hr />

  <tree-root
    *ngIf="fileSystem"
    [nodes]="fileSystem.fileSystemElements"
    [options]="options"
    (treeDrop)="onDrop($event)"
  >
    <ng-template
      #treeNodeTemplate
      let-node
      let-index="index"
      class="align-items-center"
    >
      <i class="far fa-file-alt" *ngIf="!node.data.children"></i>
      <i class="far fa-folder" *ngIf="!!node.data.children"></i>
      <span class="ml-2">{{ node.data.name }}</span>
      <a
        class="text-danger float-right"
        *ngIf="!!node.data.children && node.data.children.length === 0"
        (click)="deleteFolder(node.data)"
      >
        <i class="far fa-trash-alt"></i>
      </a>
      <a
        class="text-danger float-right"
        *ngIf="!node.data.children"
        (click)="deleteFile(node.data)"
      >
        <i class="far fa-trash-alt"></i>
      </a>
    </ng-template>
  </tree-root>
  <hr />

  <div class="clickable py-1" (click)="addFile()">
    <i class="fas fa-plus"></i>

    <span class="pl-2 noselect">
      Add a File
    </span>
  </div>

  <div class="clickable py-1" (click)="addFolder()">
    <i class="fas fa-plus"></i>

    <span class="pl-2 noselect">
      Add a Folder
    </span>
  </div>
</div>
