.drag-select-container {
    width: 100%;
    height: 3000px;
}

.drag-select-rectangle {
    position: absolute;
    background-color: #d5eef8;
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;  
}
