<div>
  <h4 class="pl-2">Documents</h4>
</div>

<tree-root
  *ngIf="fileSystem"
  [nodes]="fileSystem.fileSystemElements"
  [options]="options"
  (treeDrop)="onDrop($event)"
>
  <ng-template #treeNodeTemplate let-node let-index="index">
    <div class="node-row align-items-center" (click)="navigateToFile(node)">
      <div class="node-col">
        <i class="far fa-file-alt" *ngIf="!node.data.children"></i>
        <i class="far fa-folder" *ngIf="!!node.data.children"></i>
      </div>
      <div class="node-col node-text">
        <span
          class="node-name ml-2"
          contenteditable="true"
          [textContent]="node.data.name"
          (input)="node.data.name = $event.target.textContent"
          (blur)="nodeNameBlur()"
          spellcheck="false"
        >
          {{ node.data.name }}
        </span>
      </div>
      <div class="node-col node-delete">
        <a
          class="text-danger"
          *ngIf="!!node.data.children && node.data.children.length === 0"
          (click)="deleteFolder(node.data)"
        >
          <i class="far fa-trash-alt"></i>
        </a>
        <a
          class="text-danger"
          *ngIf="!node.data.children"
          (click)="deleteFile(node.data)"
        >
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </ng-template>
</tree-root>

<div class="mt-2">
  <div class="clickable py-1" (click)="addFile()">
    <i class="fas fa-plus"></i>

    <span class="noselect">
      Add a File
    </span>
  </div>

  <div class="clickable py-1" (click)="addFolder()">
    <i class="fas fa-plus"></i>

    <span class="noselect">
      Add a Folder
    </span>
  </div>
</div>
