header {
    padding-top: 9rem;
    background-color: var(--primary);
    text-align: center;
    height: 100vh;
}

h1 {
    color: #fff;
    margin-bottom: 2.5rem;
}

.form-container {
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2.00rem 1.25rem 1.25rem 2.00rem;
    border-radius: 0.5rem;
    background-color: #f3f7fd;
}
