<div class="container-fluid pt-5">
  <div class="row mb-3">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6">
      <h2 class="text-center mb-4">
        How ConstantTime works
      </h2>

      <p>
        ConstantTime is a Flashcard based learning platform that allows you to
        create and organize your Flashcards. The concepts Spaced Repetition and
        Active Recall are build into the platform.
      </p>

      <div class="row mb-3">
        <div class="col-12 mb-3 text-center">
          <img
            src="../../../../assets/flash_card_front.png"
            class="rounded mx-auto d-block pb-0"
          />
          <small>
            Flashcard Question
          </small>
        </div>

        <div class="col-12">
          <p>
            By trying to answer the question you are using Active Recall. Speak
            your answer out loud if you can.
          </p>
        </div>

        <div class="col-12 mb-3 text-center">
          <img
            src="../../../../assets/flash_card_back.png"
            class="rounded mx-auto d-block pb-0"
          />
          <small>
            Flashcard Answer
          </small>
        </div>
      </div>

      <p>
        Afterwards you check if your answer was correct. If your answer was
        correct the next time will be further in the future. If your answer was
        wrong you will see the card on the next day. The only thing you have to
        worry about is coming back regularly to create and repeat your
        Flashcards.
      </p>
    </div>
    <div class="col-12 col-md-3"></div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary btn-lg" routerLink="/sign-up">
        Start Learning
      </button>

      <p class="text-center pt-4">
        For more information check out our
        <a routerLink="/tutorial">Tutorial</a> or just
        <a routerLink="/sign-up">Sign-Up</a> to get started
      </p>
    </div>
  </div>
</div>
