header {
  text-align: center;
  height: calc(100vh - 70px);
  margin-top: -5rem;
  padding-top: 4rem;
}

h1,
p {
  color: #fff;
}

p {
  max-width: 24rem;
  margin-right: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
}

a {
  text-decoration: underline;
  color: white;
}

.form-container {
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1.25rem 1.25rem 2rem;
  border-radius: 0.5rem;
  background-color: #f3f7fd;
}
