.notes-sidebar {
    position: fixed;
    width: 240px;
    background: grey;
    height: 100%;
}

.notes-content {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100vw;
    position: fixed;
}