<div class="modal-header">
  <h5 class="modal-title">Create new Flashcard Deck</h5>
  <button class="close" (click)="close()">
    <span aria-hidden="true" id="cross">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="flashCardDeckForm">
    <div class="row">
      <div class="col-12 mb-2">
        <app-custom-input
          [label]="'Name'"
          [placeholder]="'Flashcard Deck Name'"
          [control]="flashCardDeckForm.get('name')"
          [errors]="validationErrors"
          [name]="'name'"
          [autofocus]="true"
        ></app-custom-input>
      </div>
      <div class="col-12 text-right">
        <button
          class="btn btn-primary"
          (click)="save()"
          [disabled]="flashCardDeckForm.invalid"
        >
          Save Flashcard Deck
        </button>
      </div>
    </div>
  </form>
</div>
