<div class="flip-container">
  <div class="flipper text-center">
    <div class="card front">
      <div
        class="card-body align-items-center d-flex flex-column justify-content-center"
      >
        <h4 class="m-0">
          How long is the earth's circumference?
        </h4>
      </div>
    </div>
    <div class="card back">
      <div
        class="card-body align-items-center d-flex flex-column justify-content-center"
      >
        <h4>The circumference at the equator is about 24,902 miles (40,075 km)</h4>
      </div>
    </div>
  </div>
</div>
