<!-- <div class="card">
    <div class="card-body">
        <div class="row h-100 align-items-center front">
            <h3 class="m-0">
                How many corners has a rectangle?
            </h3>
        </div>

        <div class="row h-100 align-items-center back">
            <h6 class="mb-3">
                Answer
            </h6>
            <h4>
                A rectangle has 6 corners.
            </h4>
        </div>
    </div>
</div> -->

<div class="flip-container">
    <div class="flipper text-center">
        <div class="card front">
            <div class="card-body align-items-center d-flex flex-column justify-content-center">
                <h3 class="m-0">
                    How many corners has a rectangle?
                </h3>
            </div>
        </div>
        <div class="card back">
            <div class="card-body align-items-center d-flex flex-column justify-content-center">
                <h6 class="mb-3">
                    Answer
                </h6>
                <h4 class="m-0">
                    A rectangle has 6 corners.
                </h4>
            </div>
        </div>
    </div>
</div>