<div class="flip-container">
    <div class="flipper text-center">
        <div class="card front">
            <div class="card-body align-items-center d-flex flex-column justify-content-center">
                <h3 class="m-0">
                    How to calculate the hypotenuse of a triangle?
                </h3>
            </div>
        </div>
        <div class="card back">
            <div class="card-body align-items-center d-flex flex-column justify-content-center">
                <h6 class="mb-3">
                    Answer
                </h6>
                <img src="https://i.imgur.com/sJmRIX6.png">
            </div>
        </div>
    </div>
</div>