.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ".sidebar .content";
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  padding: 15px 0px 15px 0px;
  overflow: auto;
  user-select: none;
  background-color: #f7f6f3;
}

.content {
  height: 100%;
  overflow: auto;
}
