[contenteditable] {
    outline: 0px solid transparent;
    background: transparent;
}

[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color: #6c757d !important;
}

.title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.empty-page {
    cursor: text;
    height: 20rem;
}

.editable-div {
    padding: 3px 2px;
    min-height: 30px;
}

.headline-1 {
    font-size: xx-large;
    font-weight: bold;
}

.headline-2 {
    font-size: x-large;
    font-weight: bold;
}

.headline-3 {
    font-size: large;
    font-weight: bold;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 5px;
    color: inherit;
    fill: inherit;
}

.ul-dot {
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
    margin: auto 0.3rem auto 0;
}

.l-item, .page-title {
    width: 100%;
    margin: auto 0;
}

.ol-item {
    text-align: center;
    line-height: 1;
    margin: auto 0.3rem auto 0;
}

.page-icon {
    text-align: center;
    font-size: 1.1em;
    line-height: 1;
    margin: auto 0.3rem auto 0;
}

.page:hover {
    cursor: pointer;
    background-color: #c3c6c9;
}