<div class="container">
  <h2 class="mb-3">
    Tutorial
  </h2>

  <p>
    This Tutorial will show you how to use our Spaced Repetition system
    effectively. You will learn how to create Flashcard Decks, Flashcard and how
    you can repeat them. The first step is to
    <a routerLink="/sign-up">Sign Up</a> to create an account.
  </p>

  <p>
    The best way to follow this tutorial is to either put the Tutorial page on a
    second monitor. Alternatively put two browser windows side by side. If you
    are on mobile open a second tab and switch between them.
  </p>
  <div class="row">
    <div class="col-12 mb-4">
      <h5 class="text-center">Step 1</h5>
      <img
        src="../../../assets/dashboard.png"
        class="rounded mx-auto d-block"
      />

      <p>
        If you aren't already on the dashboard. Click
        <strong>Dashboard</strong> in the Navigation bar.
      </p>

      <p>
        The first step is to create a Flashcard Deck. A Flashcard Deck or Deck
        is used to group your Flashcards into different subjects (Math, Computer
        Science, Spanish etc.) or categories. Click
        <strong>Add Flashcard Deck</strong>, enter a name in the popup and click
        <strong>Save Flashcard Deck</strong>.
      </p>
    </div>
    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 2</h5>
      <img
        src="../../../assets/empty_flash_card_deck_detail.png"
        class="rounded mx-auto d-block"
      />

      <p>
        Click on the Flashcard Deck under <i>My Decks</i> that you just created.
        On this page you can see all your Flashcards. Each Deck can have any
        number of Topics. A Topic can be used to further divide your Flashcards.
        Rename the Topic to your liking. Afterwards click
        <strong>New Flashcard</strong>.
      </p>
    </div>

    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 3</h5>
      <img
        src="../../../assets/create_flash_card.png"
        class="rounded mx-auto d-block"
      />

      <p>
        In this popup you can now create your first Flashcard. Enter a
        <i>Question</i> and Answer of your choice. The text in the
        <i>Answer</i> field can be formatted and you can also paste in images.
        If you imagine a Flashcard the <i>Question</i> will be the front side
        and the <i>Answer</i> the backside of your Flashcard.
      </p>

      <p>
        When you filled in <i>Question</i> and <i>Answer</i>. Click
        <strong>Add Flashcard</strong>.
      </p>
    </div>
    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 4</h5>
      <img
        src="../../../assets/flash_card_deck_detail_with_card.png"
        class="rounded mx-auto d-block"
      />

      <p>
        Now you can see the created Flashcard in your Topic. The Flashcard also
        has a <i>Level</i> and <i>Last Wrong Answer</i> property. The
        <i>Level</i> tells you how often you answered the Card correctly in a
        row and the <i>Last Wrong Answer</i> is the date of your last wrong
        answer for this Flashcard.
      </p>

      <p>
        To see the details click on the name of the Flashcard you created.
      </p>
    </div>

    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 5</h5>
      <img
        src="../../../assets/edit_flash_card.png"
        class="rounded mx-auto d-block"
      />

      <p>
        Here you can see and change the <i>Question</i> and <i>Answer</i> you
        entered before. Additionally, you can edit the <i>Level</i> and the
        <i>Last Wrong Answer</i>. To continue with the Tutorial change the
        <i>Last Wrong Answer</i> date to yesterday. This step is only necessary
        for Tutorial purposes and normally you don't have to do this. Click the
        <strong>Save</strong> button and go back to the Dashboard.
      </p>
    </div>
    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 6</h5>
      <img
        src="../../../assets/dashboard_with_flash_card.png"
        class="rounded mx-auto d-block"
      />

      Now you see that you have 1 Flashcard that is TODO. These are the
      Flashcards that you have to repeat today. You can either use the
      <strong>Start Repetition</strong> button at the top. Or if you only want
      to repeat Cards from a specific deck. Click the
      <strong>play button</strong> to the right of the Flashcard Deck.
    </div>

    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 7</h5>
      <img
        src="../../../assets/repetition_session_question.png"
        class="rounded mx-auto d-block"
      />
      <p>
        Now you are in your Repetition Session. You can see how many remaining
        cards you have left in the top left corner. If you want to quit the
        Repetition Session use the cross in the top right corner.
      </p>

      <p>
        Below that you can see the <i>Question</i> of the current Flashcard.
        Read the <i>Question</i> and answer it by saying it out loud. When you
        are done click <strong>Show Answer</strong>.
      </p>
    </div>
    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 8</h5>
      <img
        src="../../../assets/repetition_session_answer.png"
        class="rounded mx-auto d-block"
      />
      <p>
        This shows you the answer of your Flashcard. Read it and check if your
        answer was correct. If it was correct click
        <strong>Answer Correct</strong> otherwise <strong>Answer wrong</strong>.
        Afterwards your Flashcard are automatically scheduled for its next
        repetition. The only thing you have to do is to come back and keep
        repeating your daily open cards.
      </p>
      <p>
        Additionally, this view allows you to edit your Flashcard by clicking
        the pencil icon if you to want make any changes.
      </p>
    </div>

    <div class="col-12 mb-4">
      <h5 class="text-center mb-3">Step 9</h5>
      <img
        src="../../../assets/repetition_session_stats.png"
        class="rounded mx-auto d-block"
      />
      <p>
        The stats page gives you more detail about your Reptition Session. You
        can view all cards that you completed and get a better understanding
        about how well you did. If you made a mistake during your Repetition
        Session you can always change the cards <i>Level</i> or
        <i>Last Wrong Answer</i> to fix it.
      </p>
    </div>
  </div>

  <p>
    Thanks for following the Turorial. We are constantly looking to add new
    features to make the application better. Please feel free to reach out to us
    via <a href="mailto: p_rogg@t-online.de">Email</a> if you have any ideas or
    questions.
  </p>

  <p>
    <strong>Happy Learning!</strong>
  </p>
</div>
