.list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}

.create-flash-card {
    cursor: pointer;
    border-bottom: none !important; 
}

.create-flash-card:hover {
    background-color: rgba(0,0,0,.075);
    cursor: pointer;
}