@import "~bootstrap/scss/bootstrap";

:root {
  --background-color: #f8f9fc;
  --disabled-background-color: #918d8dc5;
  --primary: #4e73df;
}

html,
body {
  font-family: "Metropolis", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  background-color: var(--background-color) !important;
  min-height: 100vh;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  cursor: pointer;
}