<div *ngIf="flashCardDecks">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Todays Repetition</h1>
    <hr class="my-4" />
    <h4 class="lead text-center mb-3">
      <span *ngIf="getTodoFlashCardCount() > 0">
        You still have to do <strong>{{ todoFlashCardCount }}</strong> Flash
        Cards today
        </span
      >
      <span *ngIf="getTodoFlashCardCount() === 0">
        All cards are completed. Come back tomorrow for your next Repetition!
      </span>
    </h4>
    <div class="text-center" *ngIf="getTodoFlashCardCount() > 0">
      <button class="btn btn-primary btn-lg" (click)="startRepetition()">
        Start Repetition
      </button>
    </div>
  </div>
</div>