<div class="row align-items-center column-description mb-2">
  <div class="col-6">
    Question
  </div>
  <div class="col-36">
    Deck
  </div>
  <div class="col-2">Topic</div>
  <div class="col-1"></div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let flashCard of flashCards">
    <div class="row align-items-center">
      <div class="col-6">
        <a (click)="openEditFlashCardModal(flashCard)" [routerLink]="">
          {{ flashCard.question }}
        </a>
      </div>
      <div class="col-3">
        <small data-toggle="tooltip" data-placement="bottom" title="Topic">
          {{ flashCard.flashCardDeckName }}
        </small>
      </div>
      <div class="col-2">
        <small data-toggle="tooltip" data-placement="bottom" title="Topic">
          {{ flashCard.topicName }}
        </small>
      </div>
      <div class="col-1 text-right">
        <a class="text-danger" (click)="deleteFlashCard(flashCard)">
          <i class="far fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </li>
</ul>
